@model ASP_421.Data.Entities.ProductGroup

<div class="col">
    <a class="h-100" asp-controller="Shop" asp-action="Group" asp-route-id="@Model.Slug">
        <div class="card h-100">
            <img src="/Storage/Item/@Model.ImageUrl" class="card-img-top" alt="@Model.Name">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
            </div>
        </div>
    </a>
</div>