@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Знайомство з ASP</h1>
</div>
<h2>Зміст</h2>
<h3>
    <a asp-area="" asp-controller="Home" asp-action="Razor">
        Технологія Razor
    </a>
</h3>
<h3>
    <a asp-area="" asp-controller="Home" asp-action="IoC">
        Інверсія управління (Inversion of Control)
    </a>
</h3>
