html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

[contenteditable] {
    border: 1px solid lightgray;
}

.logo-container {
    width: 100%;
    height: 30vh;
    overflow: hidden;
}
.logo-img {
    width: 100%;
    height: auto;
}
.btn-add-to-cart {
    padding: 2px 8px !important;
}

.cart-table-header {
    background-color: #f8f8f8;
    color: #888;
    margin-bottom: .5em;
    padding: .25em 0;
}

.cart-widget-button {
    position: relative;
}
.cart-count {
    position: absolute;
    right: -.5em;
    top: -.5em;
    border-radius: 50%;
    background-color: #4cff00;
    display: block;
    width: 1.5em;
    height: 1.5em;
    padding: 0 .1em .1em .1em;
    font-size: small;
}
.cart-quantity {
    display: inline-flex;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
}
.cart-table-footer {
    font-weight: 700;
    background-color: #f8f8f8;
    margin-bottom: .5em;
    padding: .25em 0;
}